{% extends "../base.html" %}

{% block content %}

<section id="contact" class="container">

    <div class="section-title">
        <h2>Crear nuevo proyecto</h2>
        <p>En esta sección se puede crear nuevos proyectos que se desea compartir</p>
    </div>
    
    <form method="post" novalidate class="">
    
        {% csrf_token %}
    
        {{ form.as_div }}
    
        <button class="btn btn-success">Crear</button>
        <a href="/" class="btn btn-outline-danger">Cancelar
        </a>
    
    </form>
    
</section><!-- End Contact Section -->
{% endblock content %}